@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
      background-image: linear-gradient(to right, #247B7B, #3B247B);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    